:root{
    --preto: #000000;
    --branco: #fff;
    --roxo: #3d1066;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #34095c;
    color: #fff;
  }
.home-section{
    margin-bottom: 500px;
}

.container{
    padding: 10px 10%;
    padding-top: 20px;
    background-color: #000000;
}
.container nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header-text h1 span{
    color: #000000;
}

header h1 a{
    color: #fff;
    text-decoration: none;
    font-size: 40px;
}
header h1 span{
    color: #3d1066;
    font-size: 40px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 40px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #571892;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}
nav ul li a:hover::after{
    width: 100%;
}
/* ======== About Configuration ========  */
#about{
    padding: 80px 0;
    color: #fff;
    height: 1300px
}

.container#container-about{
    background-color: #34095c;
    padding-top: 220px;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 16px;
    background: #7d4f4f;
    box-shadow:  40px 40px 0px #150425,
                -40px -40px 0px #530e93;   
}

.about-col-2{
    flex-basis: 60%;
}

p.infoAbout{
    width: 650px;
    font-size: 20px;
    margin-top: 10px;
}

.subTitle{
    font-size: 60px;
    font-weight: 600;
    color: var(--branco);
}

.tabTitles{
    display: flex;
    margin: 40px 0 40px;
}

.tabLinks{
    margin-right: 50px;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tabLinks::after{
    content: '';
    width: 0;
    height: 4px;
    background-color: var(--preto);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.7s;
}

.tabLinks.linkAtivo::after{
    width: 50%;
}

.tabContents ul li{
    list-style: none;
    margin: 10px 0;
}

.tabContents ul li span{
    color: var(--preto);
    font-size: 20px;
    font-weight: 600;
}

.tabContents{
    display: none;
}

.tabContents.tabAtivo{
    display: block;
}
/* ======== Projects Configuration ========  */
#projects{
    background-color: var(--preto);
    height: 1300px;
}
.container#container-projects{
    padding-top: 220px;
}

.listaProjetos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.projeto{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.projeto img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.772), #530e93) ;
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 20px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 30px;
}

.layer a{
    margin-top: 20px;
    color: var(--roxo);
    text-decoration: none;
    font-size: 20px;
    line-height: 60px;
    background: var(--branco);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.projeto:hover img{
    transform: scale(1.2);
}

.projeto:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #530e93;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: var(--branco);
    transition: background 0.5s;

}

.btn:hover{
    background: #530e93;
}
/* ======== Contact Configuration ========  */
#contact{
    background-color: #1f0537;
    height: 1300px;
}

#container-contact.container{
    padding-top: 400px;
    background-color: #1f0537
}

.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color: #fff;
    margin-right: 15px;
    font-size: 25px;
}

.redesSociais{
    margin-top: 30px;
}

.redesSociais a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: var(--branco);
    display: inline-block;
    transition: transform 0.5s;

}
.redesSociais a:hover{
    color: #8f829b;
    transform: translateY(-5px);
}

.btn.btn2{
    display: inline-block;
    background: #530e93;
}

.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #530e93;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
/* ======== Small Screen Configuration ========  */
nav .fa-solid{
    display: none;
}

.header-text{
    display: none;
}


@media only screen and (max-width: 600px) {
    #home{
        display: none;
    }
    .header-text{
        display: block;
        width: 300px;
        margin-top: 120px;
        margin-left: 40px;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }

    nav .fa-solid{
        display: block;
        font-size: 25px;
    }

    nav ul{
        background:#7d4f4f;
        position: fixed;
        top: 0;
        right: -150px;
        width: 150px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    
/* ======== Smarll Screen About Configuration ======== */
    .subTitle{
        font-size: 40px;
    }

    .about-col-1,.about-col-2{
        flex-basis: 80%;
        margin-left: 35px;
    }
    
    .about-col-1{
        margin-bottom: 30px;
    }

    p.infoAbout{
        font-size: 12px;
        width: 250px;
    }

    .tabContents li{
        font-size: 12px;
    }

    .tabLinks{
        font-size: 16px;
        margin-right: 20px;
    }
/* ======== Smarll Screen Projects Configuration ======== */
    #container-projects{
        padding-top: 50px;
    }
/* ======== Smarll Screen Contacts Configuration ======== */
    .contact-left,.contact-right{
        flex-basis: 100%;
    }

    .contact-left p {
        font-size: 14px;
    }
    #contact{
        height: 1100px;
    }

    /* Particles Configuration */
    #particles-js {
        display: none;
    }

}






/* ======== Cartao Configuration ======== */
.cartao{
    margin: 250px auto 350px; 
    width: 400px;
    height: 600px;
    perspective: 600px;
}

.cartao-interior{
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style:preserve-3d;
    cursor: pointer;
    position: relative;
}

.cartao-interior.virado{
    transform: rotateY(180deg);
}

.cartao-lados{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 0px 5px 3px rgba(255, 255, 255, 0.4);
}

.cartao-lados-frente{
    background-image: linear-gradient(to bottom right, var(--roxo), var(--preto));
    display: flex;
    align-items: center;
    justify-content: center;
}
.cartao-lados-frente h2{
    color: var(--branco);
    font-size: 32px;
}

.cartao-lados-atras{
    background-color: var(--preto);
    transform: rotateY(180deg);
}

.cartao-conteudo{
    width: 100%;
    height: 100%;
}

.cartao-header{
    position: relative;
    padding: 30px 30px 40px;
}

.cartao-header::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: linear-gradient(to bottom left, var(--roxo) 10%, var(--preto) 115%);
}

.imgCartaoHeader{
   display: block;
   width: 128px;
   height: 128px;
   margin: 0 auto 30px;
   border-radius: 50%; 
   background-color: var(--branco);
   border: 5px solid var(--branco);
   object-fit: cover;
}

.cartao-header h2{
    color: var(--branco);
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

.cartao-body{
    padding: 30px;
}

.cartao-body h3{
    color: var(--branco);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.cartao-body p{
    color: var(--branco);
    font-size: 18px;
    line-height: 1.5;
}
/* ================================ */


/* Particles Configuration */
canvas {
    display:flex;
    vertical-align: none;
}
  

#particles-js {
    position: absolute;
    vertical-align: top;
    width: 100%;
    height: 1202px;
    background-color: #000000;
    background-image: url("");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
/* ================================ */

